<IfModule mod_rewrite.c>
    RewriteEngine On
	Options All -Indexes
    RewriteRule ^(.*)$ public/$1 [L]
	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
</IfModule>